@font-face {
  font-family: "Cotta";
  src: url("./cotta.otf") format("OpenType");
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("./CabinetGrotesk-Variable.woff2") format("WOFF");
}

@font-face {
  font-family: "Maghfirea";
  src: url("./Maghfirea.ttf") format("TrueType")
}
@font-face {
  font-family: "branch";
  src: url("./branch.ttf") format("TrueType")
}
@font-face {
  font-family: "ibm";
  src: url("./WebPlus_IBM_VGA_8x16.woff") format("WOFF")
}