@use './vars.module';
@use './cray.scss';
@use '../public/fonts/fonts.scss';

.container {
  background: #5e5062;
  background: radial-gradient(ellipse at top left, #58877fA5 0%, #5e5062A5 47%), url("/winter-pooter.png") no-repeat top center fixed;
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: vars.$off-white
}


.title {
  font-family: ibm;
  font-weight: 500;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  // text-shadow: 1px 1px vars.$hot-orange;
}

.description {
  line-height: 1.5;
  color: #eb1ac8;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.test {
  color: pink
}

pre.ibm {
  padding:0;
  margin:0;
  font-family: ibm;
}